<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <title>client</title>
</head>
<body>
    <style>
        .stat{
            background: rgb(255,255,255);
            background: linear-gradient(45deg, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 47%); 
            color: rgba(162, 0, 255, 0.801);
            margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        body{
            background: rgb(2,0,36);
            background: linear-gradient(44deg, rgb(102, 7, 226) 55%, rgba(255,255,255,1) 43%); 
        }
        p{
            background-color: rgba(0, 0, 0, 0.938);
            color: white;
            padding: 5px;
            text-align: center;
        }
        .btnn{
            padding: 8px;
            border-radius: 10px;
        }
        footer{
            background: rgb(255,255,255);
            background: radial-gradient(circle, rgba(255, 255, 255, 0.452) 30%, rgb(76, 0, 255) 80%); 
            width: 50%;
            margin: auto;
            padding: 30px;
            height: 250px;
            color: rgb(0, 0, 0);
        }
        .section{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            
            width: 50%;
            margin: auto;
            
            padding: 30px;
            border-radius: 3px;
            
        }
        .colum1,.colum2,.colum3{
            
            
            margin: 0;
            background-color: rgb(255, 255, 255);
            width: 20   0px;
            
        }
        .colum1{border-top-left-radius: 10px;}
        .colum3{border-top-right-radius: 10px;}
    </style>
    
    <table class="table table-hover w-50 m-auto">
        <thead>
          <tr class="table-warning">
            <th scope="col" >#</th>
            <th scope="col">Name</th>
            <th scope="col">region</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-dark">
            <th scope="row">1</th>
            <td><%=louam%></td>
            <td><%=louam1%></td>
            <td>@mdo</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">2</th>
            <td><%=salem%></td>
            <td><%=salem1%></td>
            <td>@fat</td>
          </tr>
          <tr class="table-dark">
            <th scope="row">3</th>
            <td><%=nadhem%></td>
            <td><%=nadhem1%></td>
            <td>@twitter</td>
          </tr>
          <tr class="table-success">
            <th scope="row">4</th>
            <td><%=rihem%></td>
            <td><%=rihem1%></td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      <br>
    <form class="bg-dark m-auto w-50 t-10 btnn" action="/" method="post"  >
        <div class="form-row align-items-center">
          <div class="col-auto">
            <input type="text" class="form-control mb-2" name="newItem" id="newItem" required placeholder="fruit..">
          </div>
          <div class="col-auto">
            <input type="text" class="form-control mb-2" name="newItem1" id="newItem1" required placeholder="adresse..">
          </div>
          <div class="col-auto">
            <input type="text" class="form-control mb-2" name="newItem2" id="newItem2" required placeholder="code..">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2" name="button">Add</button>
          </div>
        </div>
      </form>
    <br>
    <div class="stat">
        <% if (statu.length==0){ %>
            <h3>Status du commande : None </h3>
        <% } else{ %>
            <h3>Vous avez commandé : <%=statu %> </h3>
        <% } %>
    </div>
    <br>
    <footer class="footer">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero molestiae commodi nam minus architecto ut aliquid a ducimus, sed consequuntur, ipsum magni. Dolore architecto quam, distinctio reiciendis natus asperiores labore?
    </footer>
      
</body>
</html>